.idea/
.ipynb_checkpoints/
co_reader.pyc
ghostdriver.log
temp.pdf
DOB Permit Issuance.csv
.DS_Store
/data
active_sample_10.csv
active_sample_11.csv
active_sample_12.csv
active_sample_13.csv
active_sample_14.csv
active_sample_14to21.csv
active_sample_21to25.csv
active_sample_25to30.csv
active_sample_30to38.csv
active_sample_38_plus.csv
active_sample_6.csv
active_sample_7.csv
active_sample_8.csv
active_sample_9.csv
